.post-container{
    border-radius: 12px;
    // border: 2px red solid;
    margin-bottom: 10px;
    padding: 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.title-row{
    font-weight: bolder;
}
.created{
    font-size: smaller;
    font-weight: lighter;
    color:rgb(97, 97, 97);
}
.content-container{
    font-size: 1em;
}
.header-row{
    margin-bottom: 12px;
}